.header{
    background-color: transparent;
    position: absolute !important;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9;
}

.container{
    padding: 30px 10%;
    display: flex;
    align-items: center;
}

.logoLink{
    flex-grow: 3;
}

.linksCont{
    display: flex;
    flex-grow: 9;
    justify-content: flex-end;
}

.linkItem{
    text-decoration: none;
    color: white;
    margin-left: 25px;
    margin-right: 25px;
    cursor: pointer;
}

.linkItem:hover{
    color: #ffd868;
}

.active{
    color: #ffd868;
}