.container{
    padding:  0 10%;
    min-height: 560px;
}

.mainCont{
    display: flex;
    align-items: center;
    margin-top: 100px;
}
.reverseLeftCont{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.reverseRightCont{
    display: flex;
    justify-content: flex-end;
    margin-left: 100px;
    flex: 6;
}
.stepOneStyle{
    height: 400px;
    width: auto;
}

.title{
    font-size: 40px;
    font-weight: 800;
    line-height: 1.181;
    color: #fff;
}